<!-- views/partials/_navbar.ejs -->

<nav>
  <% if(user) { %>
    <a href="/">Home</a>
  <a href="/users/<%= user.id %>/games">Your Games</a>
  <a href="/auth/sign-out">Sign Out</a>
  <% } else { %>
    <a href="/">Home</a>
  <a href="/auth/sign-in">Sign In</a>
  <a href="/auth/sign-up">Sign Up</a>
  <% } %>
</nav>
