<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Finish-It</title>
  </head>
  <body>
    <%- include('./partials/_navbar.ejs') %>
    <h1>Finish-It</h1>
    <p>A game backlog tracker.</p>
  </body>
</html>
